<section id="services" class="bg-silver-light">
    <div class="container pb-40">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase mt-0 line-height-1">Our Treatments</h2>
                    <div class="title-icon">
                        <img class="mb-10" src="assets/images/title-icon.png" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!
                    </p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="text-center mb-30 p-10">
                        <i class="fa fa-medkit text-theme-colored font-38"></i>
                        <h3 class="mt-20">Root Canal</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quasi qui inventore, cumque nulla rerum consem!</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="text-center mb-30 p-10">
                        <i class="flaticon-medical-brush18 text-theme-colored font-38"></i>
                        <h3 class="mt-20">Teeth Whitening</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quasi qui inventore, cumque nulla rerum consem!</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="text-center mb-30 p-10">
                        <i class="flaticon-medical-hospital17 text-theme-colored font-38"></i>
                        <h3 class="mt-20">Wisdom Teeth</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quasi qui inventore, cumque nulla rerum consem!</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="text-center mb-30 p-10">
                        <i class="flaticon-medical-dentist text-theme-colored font-38"></i>
                        <h3 class="mt-20">Crowns Bridges</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quasi qui inventore, cumque nulla rerum consem!</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="text-center mb-30 p-10">
                        <i class="flaticon-medical-hospital35 text-theme-colored font-38"></i>
                        <h3 class="mt-20">Cosmetic Dentis</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quasi qui inventore, cumque nulla rerum consem!</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="text-center mb-sm-30 p-10">
                        <i class="flaticon-medical-teeth2 text-theme-colored font-38"></i>
                        <h3 class="mt-20">Dental Implants</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quasi qui inventore, cumque nulla rerum consem!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>