<section class="">
    <div class="container pb-0">
        <div class="row">
            <div class="col-md-8">
                <h4 class="text-uppercase text-theme-colored2 mt-sm-10">Welcome to dental pro</h4>
                <h2 class="mt-0">A dentist, also known as a dental surgeon, The dentist's supporting team aids in
                    providing oral health services.</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi molestiae
                    autem fugit consectetur dolor ullam illo ipsa numquam, quod iusto enim ipsum amet iusto amet
                    consec Lorem ipsum dolor sit amet</p>
                <h3 class="text-theme-colored mb-0">Dr. Corvin Adams</h3>
                <p><span>Doctor of Dental Surgery (DDS)</span></p>

                <p class="mt-20"><img src="assets/images/signature.png" alt=""></p>
            </div>
            <div class="col-md-4">
                <img src="assets/images/about/dc1.png" alt="">
            </div>
        </div>
    </div>
</section>