<section class="bg-lighter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel-4col">
                    <div class="item">
                        <a href="assets/images/certificates/b1.jpg" data-lightbox-gallery="certificates"
                            title="Certificate"><img src="assets/images/certificates/s1.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="assets/images/certificates/b2.jpg" data-lightbox-gallery="certificates"
                            title="Certificate"><img src="assets/images/certificates/s2.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="assets/images/certificates/b3.jpg" data-lightbox-gallery="certificates"
                            title="Certificate"><img src="assets/images/certificates/s3.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="assets/images/certificates/b4.jpg" data-lightbox-gallery="certificates"
                            title="Certificate"><img src="assets/images/certificates/s4.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>