<section id="depertment" class="">
    <div class="container">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase mt-0 line-height-1">Our Depertment</h2>
                    <div class="title-icon">
                        <img class="mb-10" src="assets/images/title-icon.png" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!
                    </p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="box-hover-effect effect-siberia mb-30">
                        <div class="effect-wrapper">
                            <div class="thumb">
                                <img class="img-fullwidth" src="assets/images/blog/1.jpg" alt="project">
                            </div>
                            <div class="info-box">
                                <div class="info-title bg-theme-colored-transparent-9">
                                    <h3 class="title text-white mt-0">Title place here</h3>
                                </div>
                                <div class="info-content text-white bg-theme-colored-transparent-9">
                                    <h3 class="text-white mt-0"><i class="fa fa-globe font-24"></i> Title place here
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="btn btn-theme-colored2" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="box-hover-effect effect-siberia mb-30">
                        <div class="effect-wrapper">
                            <div class="thumb">
                                <img class="img-fullwidth" src="assets/images/blog/2.jpg" alt="project">
                            </div>
                            <div class="info-box">
                                <div class="info-title bg-theme-colored-transparent-9">
                                    <h3 class="title text-white mt-0">Title place here</h3>
                                </div>
                                <div class="info-content text-white bg-theme-colored-transparent-9">
                                    <h3 class="text-white mt-0"><i class="fa fa-globe font-24"></i> Title place here
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="btn btn-theme-colored2" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="box-hover-effect effect-siberia mb-30">
                        <div class="effect-wrapper">
                            <div class="thumb">
                                <img class="img-fullwidth" src="assets/images/blog/4.jpg" alt="project">
                            </div>
                            <div class="info-box">
                                <div class="info-title bg-theme-colored-transparent-9">
                                    <h3 class="title text-white mt-0">Title place here</h3>
                                </div>
                                <div class="info-content text-white bg-theme-colored-transparent-9">
                                    <h3 class="text-white mt-0"><i class="fa fa-globe font-24"></i> Title place here
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="btn btn-theme-colored2" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="box-hover-effect effect-siberia mb-30">
                        <div class="effect-wrapper">
                            <div class="thumb">
                                <img class="img-fullwidth" src="assets/images/blog/2.jpg" alt="project">
                            </div>
                            <div class="info-box">
                                <div class="info-title bg-theme-colored-transparent-9">
                                    <h3 class="title text-white mt-0">Title place here</h3>
                                </div>
                                <div class="info-content text-white bg-theme-colored-transparent-9">
                                    <h3 class="text-white mt-0"><i class="fa fa-globe font-24"></i> Title place here
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="btn btn-theme-colored2" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="box-hover-effect effect-siberia mb-30">
                        <div class="effect-wrapper">
                            <div class="thumb">
                                <img class="img-fullwidth" src="assets/images/blog/4.jpg" alt="project">
                            </div>
                            <div class="info-box">
                                <div class="info-title bg-theme-colored-transparent-9">
                                    <h3 class="title text-white mt-0">Title place here</h3>
                                </div>
                                <div class="info-content text-white bg-theme-colored-transparent-9">
                                    <h3 class="text-white mt-0"><i class="fa fa-globe font-24"></i> Title place here
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="btn btn-theme-colored2" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="box-hover-effect effect-siberia mb-30">
                        <div class="effect-wrapper">
                            <div class="thumb">
                                <img class="img-fullwidth" src="assets/images/blog/1.jpg" alt="project">
                            </div>
                            <div class="info-box">
                                <div class="info-title bg-theme-colored-transparent-9">
                                    <h3 class="title text-white mt-0">Title place here</h3>
                                </div>
                                <div class="info-content text-white bg-theme-colored-transparent-9">
                                    <h3 class="text-white mt-0"><i class="fa fa-globe font-24"></i> Title place here
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="btn btn-theme-colored2" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>