<!-- Section: home-box -->
<section>
    <div class="container pb-0">
        <div class="section-content">
            <div class="row equal-height-inner" data-margin-top="-150px">
                <div
                    class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay1">
                    <div class="sm-height-auto bg-theme-colored">
                        <div class="text-center pt-30 pb-sm-30">
                            <div class="icon-box text-center">
                                <a class="icon bg-silver-light icon-circled" href="#"> <i
                                        class="flaticon-medical-blood8 text-theme-colored"></i> </a>
                                <h3 class="text-white">Free Consultation</h3>
                                <p class="text-white">Eleifend lobortis bibendum volutpat est senectus duis
                                    convallis</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay2">
                    <div class="sm-height-auto bg-theme-colored2">
                        <div class="text-center pt-30 pb-sm-30">
                            <div class="icon-box text-center">
                                <a class="icon bg-silver-light icon-circled" href="#"> <i
                                        class="flaticon-medical-medical45 text-theme-colored"></i> </a>
                                <h3 class="text-white">Quality Brackets</h3>
                                <p class="text-white">Eleifend lobortis bibendum volutpat est senectus duis
                                    convallis</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay3">
                    <div class="sm-height-auto bg-theme-colored">
                        <div class="text-center pt-30 pb-sm-30">
                            <div class="icon-box text-center">
                                <a class="icon bg-silver-light icon-circled" href="#"> <i
                                        class="flaticon-medical-pill text-theme-colored"></i> </a>
                                <h3 class="text-white">Latest Technology</h3>
                                <p class="text-white">Eleifend lobortis bibendum volutpat est senectus duis
                                    convallis</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay4">
                    <div class="sm-height-auto bg-theme-colored2">
                        <div class="text-center pt-30 pb-sm-30">
                            <div class="icon-box text-center">
                                <a class="icon bg-silver-light icon-circled" href="#"> <i
                                        class="flaticon-medical-heart254  text-theme-colored"></i> </a>
                                <h3 class="text-white">Excellent Services</h3>
                                <p class="text-white">Eleifend lobortis bibendum volutpat est senectus duis
                                    convallis</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>